<header
        style="background-image: url('{{ asset('build/cover.jpg') }}'); height: 100vh; top: 0"
        class="position-absolute"
>
    <div style="background-color: rgba(0, 0, 0, 0.4);" class="h-100 d-flex align-items-center p-5">
        <div>
            <div class="row">
                <h1 class="display-2 text-white mb-2 text-start">{{ 'site_title'|trans }}</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="my-5">
                            <p class="lead display-6 text-white-80 mb-4">
                                {{ 'home_intro'|trans }}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        {{ include('common/_button.html.twig', {text: 'know_more'|trans, href: path('farm'), type: 'light', classes: 'btn-lg col-12 col-md-5'}) }}
                        <div class="col-2"></div>
                        {{ include('common/_button.html.twig', {text: 'discover_our_products'|trans, href: path('product'), type: 'primary', classes: 'btn-lg col-12 col-md-5'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
