<header
        style="background-image: url('{{ asset('build/cover.jpg') }}');
                height: 100vh;
                "
>
    <div style="background-color: rgba(0, 0, 0, 0.4);" class="h-100">
        <div class="container px-5 py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Le Ferme de Ponturin</h1>
                        <p class="lead text-white-80 mb-4">Retrouvez tous nos produits de saisons et de la semaine
                            en
                            vente <br/><b class="text-white"> à la ferme le samedi matin </b><br/><b
                                    class="text-white">
                                et le vendredi au marché de St
                                Pierre
                                d'Albigny</b>
                        </p>
                        <p class="lead text-white-80 mb-4">
                            Nous produisons tous nos plants dans notre pépinière, en privilégiant des variétés
                            rustiques, originales et savoureuses.
                        </p>
                        <p class="lead text-white-80 mb-4">
                            Nos pratiques agricoles, dites de "sol vivant", visent à minimiser les dérangements
                            causés à
                            la microfaune du sol et à favoriser son développement par tous les moyens, afin de
                            construire une fertilité durable, sans apport d'engrais minéraux.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3 text-white"
                               href="{{ path('product') }}">{{ 'our_products'|trans }}</a>
                            <a class="btn btn-outline-light btn-lg px-4"
                               href="{{ path('farm') }}">{{ 'the_farm'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
