{% set currentRoute = app.request.attributes.get('_route') %}
{% set routes = {
    'farm': 'the_farm',
    'contact': 'find_us',
} %}
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white w-100 z-index-1">
    <div class="container px-5">
        <a class="navbar-brand {{ currentRoute == 'home' ? ' text-white ' : ' text-dark ' }}"
           href="{{ path('home') }}">{{ 'home'|trans }}</a>
        <button class="navbar-toggler  {{ currentRoute == 'home' ? '  ' : ' bg-dark ' }}" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for routeName, routeTitle in routes %}
                    <li class="nav-item">
                        {{ include('common/_button.html.twig', {text: routeTitle|trans, type: 'link', href: path(routeName), classes: currentRoute == 'home' ? ' text-white text-decoration-none' : ' text-black-50 text-decoration-none' }) }}
                    </li>
                {% endfor %}
                <li class="nav-item ms-3">
                    {{ include('common/_button.html.twig', {text: 'our_products'|trans, type: 'primary', href: path('product')}) }}
                </li>
                {% if not is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item ms-3">
                        {{ include('common/_button.html.twig', {text: 'login'|trans, type: 'light', href: path('app_login'), classes: 'shadow'}) }}
                    </li>
                {% else %}
                    <li class="nav-item ms-3">
                        {{ include('common/_button.html.twig', {text: 'logout'|trans, type: 'outline-danger', href: path('app_logout')}) }}
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ path('admin') }}">{{ 'admin'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
